In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_1 = pd.read_csv('world_country_stats.csv')
df_2 = pd.read_csv('world_population_by_country_2023.csv')
df_3 = pd.read_csv('world_population_by_year_1950_2023.csv')

### find how many population asia had

In [6]:
df_1.head()

          country   region  land_area  fertility_rate  median_age
0     Afghanistan     Asia     652860             4.4        17.0
1         Albania   Europe      27400             1.4        38.0
2         Algeria   Africa    2381740             2.8        28.0
3  American Samoa  Oceania        200             2.2        29.0
4         Andorra   Europe        470             1.1        43.0

In [7]:
df_2.head()

,country,population,yearly_change,net_change,density,land_area,net_migrants,fertility_rate,median_age,population_urban,world_share
0,Afghanistan,42239854,2.70,1111083,65,652860,-65846,4.4,17.0,26.0,0.53
1,Albania,2832439,-0.35,-9882,103,27400,-8000,1.4,38.0,67.0,0.04
2,Algeria,45606480,1.57,703255,19,2381740,-9999,2.8,28.0,75.0,0.57
3,American Samoa,43914,-0.81,-359,220,200,-790,2.2,29.0,NaN,0.00
4,Andorra,80088,0.33,264,170,470,200,1.1,43.0,85.0,0.00

In [5]:
df_3.head()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,7480461,7571537,7667533,7764546,7864285,7971931,8087727,8210201,8333826,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,1252582,1289168,1326948,1366744,1409005,1453730,1500624,1549571,1600983,...,2884102,2882481,2881063,2879355,2877013,2873883,2866849,2854710,2842321,2832439
2,Algeria,9019866,9271734,9521702,9771686,10011541,10242288,10473168,10703251,10933784,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,19032,19425,19561,19670,19758,19826,19902,19937,19918,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,6005,5827,5454,5308,5566,6116,6705,7330,7994,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088

In [7]:
df_1.isnull().sum()

country           0
region            0
land_area         0
fertility_rate    1
median_age        1
dtype: int64

In [8]:
df_1[['fertility_rate','median_age']] = df_1[['fertility_rate','median_age']].replace(np.nan,'Unknown')

In [9]:
df_1.isnull().sum()

country           0
region            0
land_area         0
fertility_rate    0
median_age        0
dtype: int64

In [10]:
df_2.isnull().sum()

country              0
population           0
yearly_change        0
net_change           0
density              0
land_area            0
net_migrants         0
fertility_rate       1
median_age           1
population_urban    18
world_share          0
dtype: int64

In [11]:
df_2[['fertility_rate','median_age','population_urban']] = df_2[['fertility_rate','median_age','population_urban']].replace(np.nan,'Unknown')

In [12]:
df_2.isnull().sum()

country             0
population          0
yearly_change       0
net_change          0
density             0
land_area           0
net_migrants        0
fertility_rate      0
median_age          0
population_urban    0
world_share         0
dtype: int64

In [14]:
df_3.isnull().sum().sum()

0

In [16]:
first = pd.merge(df_1,df_2,how='inner')

In [17]:
first

,country,region,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
0,Afghanistan,Asia,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,26.0,0.53
1,Albania,Europe,27400,1.4,38.0,2832439,-0.35,-9882,103,-8000,67.0,0.04
2,Algeria,Africa,2381740,2.8,28.0,45606480,1.57,703255,19,-9999,75.0,0.57
3,American Samoa,Oceania,200,2.2,29.0,43914,-0.81,-359,220,-790,Unknown,0.00
4,Andorra,Europe,470,1.1,43.0,80088,0.33,264,170,200,85.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
222,Wallis & Futuna,Oceania,140,1.9,37.0,11502,-0.60,-70,82,-119,0.0,0.00
223,Western Sahara,Africa,266000,2.2,32.0,587259,1.96,11273,2,5600,95.0,0.01
224,Yemen,Asia,527970,3.6,19.0,34449825,2.24,753211,65,-29914,37.0,0.43
225,Zambia,Africa,743390,4.2,17.0,20569737,2.76,552062,28,-5000,46.0,0.26
226,Zimbabwe,Africa,386850,3.4,18.0,16665409,2.11,344872,43,-9999,37.0,0.21

In [20]:
df_3

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,7480461,7571537,7667533,7764546,7864285,7971931,8087727,8210201,8333826,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,1252582,1289168,1326948,1366744,1409005,1453730,1500624,1549571,1600983,...,2884102,2882481,2881063,2879355,2877013,2873883,2866849,2854710,2842321,2832439
2,Algeria,9019866,9271734,9521702,9771686,10011541,10242288,10473168,10703251,10933784,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,19032,19425,19561,19670,19758,19826,19902,19937,19918,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,6005,5827,5454,5308,5566,6116,6705,7330,7994,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis & Futuna,8535,8810,9169,9528,9693,9616,9504,9361,9185,...,12307,12182,12060,11936,11816,11714,11655,11627,11572,11502
230,Western Sahara,12982,14267,15648,17165,18848,20690,22730,24966,27409,...,478009,491824,505455,518859,532004,544876,556048,565581,575986,587259
231,Yemen,4712810,4782787,4855822,4931833,5010564,5091603,5175088,5260779,5349846,...,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614,34449825
232,Zambia,2318448,2384836,2453511,2525024,2599541,2677209,2758241,2842807,2931128,...,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675,20569737
233,Zimbabwe,2791326,2881713,2973713,3067899,3164517,3263625,3365477,3470494,3578800,...,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537,16665409

In [21]:
first

,country,region,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
0,Afghanistan,Asia,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,26.0,0.53
1,Albania,Europe,27400,1.4,38.0,2832439,-0.35,-9882,103,-8000,67.0,0.04
2,Algeria,Africa,2381740,2.8,28.0,45606480,1.57,703255,19,-9999,75.0,0.57
3,American Samoa,Oceania,200,2.2,29.0,43914,-0.81,-359,220,-790,Unknown,0.00
4,Andorra,Europe,470,1.1,43.0,80088,0.33,264,170,200,85.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
222,Wallis & Futuna,Oceania,140,1.9,37.0,11502,-0.60,-70,82,-119,0.0,0.00
223,Western Sahara,Africa,266000,2.2,32.0,587259,1.96,11273,2,5600,95.0,0.01
224,Yemen,Asia,527970,3.6,19.0,34449825,2.24,753211,65,-29914,37.0,0.43
225,Zambia,Africa,743390,4.2,17.0,20569737,2.76,552062,28,-5000,46.0,0.26
226,Zimbabwe,Africa,386850,3.4,18.0,16665409,2.11,344872,43,-9999,37.0,0.21

In [23]:
df = pd.merge(first,df_3,how='inner')

In [24]:
df

,country,region,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,Asia,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,Europe,27400,1.4,38.0,2832439,-0.35,-9882,103,-8000,...,2884102,2882481,2881063,2879355,2877013,2873883,2866849,2854710,2842321,2832439
2,Algeria,Africa,2381740,2.8,28.0,45606480,1.57,703255,19,-9999,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,Oceania,200,2.2,29.0,43914,-0.81,-359,220,-790,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,Europe,470,1.1,43.0,80088,0.33,264,170,200,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Wallis & Futuna,Oceania,140,1.9,37.0,11502,-0.60,-70,82,-119,...,12307,12182,12060,11936,11816,11714,11655,11627,11572,11502
223,Western Sahara,Africa,266000,2.2,32.0,587259,1.96,11273,2,5600,...,478009,491824,505455,518859,532004,544876,556048,565581,575986,587259
224,Yemen,Asia,527970,3.6,19.0,34449825,2.24,753211,65,-29914,...,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614,34449825
225,Zambia,Africa,743390,4.2,17.0,20569737,2.76,552062,28,-5000,...,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675,20569737
226,Zimbabwe,Africa,386850,3.4,18.0,16665409,2.11,344872,43,-9999,...,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537,16665409

In [26]:
df[(df['region'] == 'Asia')]

,country,region,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,Asia,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
9,Armenia,Asia,28470,1.6,35.0,2777970,-0.09,-2499,98,-5000,...,2889930,2878595,2865835,2851923,2836557,2820602,2805608,2790974,2780469,2777970
13,Azerbaijan,Asia,82658,1.7,32.0,10412651,0.53,54577,126,0,...,9741880,9863480,9976248,10071567,10152522,10232753,10284951,10312992,10358074,10412651
15,Bahrain,Asia,760,1.8,34.0,1485509,0.90,13276,1955,0,...,1311134,1362142,1409661,1456834,1487340,1494188,1477469,1463265,1472233,1485509
16,Bangladesh,Asia,130170,1.9,27.0,172954319,1.03,1767947,1329,-309977,...,155961299,157830000,159784568,161793964,163683958,165516222,167420951,169356251,171186372,172954319
23,Bhutan,Asia,38117,1.4,29.0,787424,0.64,4969,21,300,...,736357,743274,749761,756121,762096,767459,772506,777486,782455,787424
29,Brunei,Asia,5270,1.7,33.0,452524,0.78,3522,86,0,...,416656,421437,425994,430276,434274,438048,441725,445373,449002,452524
33,Cambodia,Asia,176520,2.3,27.0,16944826,1.06,176984,96,-29998,...,15210817,15417523,15624584,15830689,16025238,16207746,16396860,16589023,16767842,16944826
42,China,Asia,9388211,1.2,39.0,1425671352,-0.02,-215985,152,-310220,...,1385189668,1393715448,1401889681,1410275957,1417069468,1421864031,1424929781,1425893465,1425887337,1425671352
52,Cyprus,Asia,9240,1.3,39.0,1260138,0.69,8650,136,5000,...,1176995,1187280,1197881,1208523,1218831,1228836,1237537,1244188,1251488,1260138
69,Georgia,Asia,69490,2.1,37.0,3728282,-0.43,-16103,54,-9999,...,3774235,3771132,3771110,3771900,3772325,3770811,3765912,3757980,3744385,3728282
85,Hong Kong,Asia,1050,0.8,46.0,7491609,0.04,2744,7135,19999,...,7352183,7399838,7435927,7461519,7481555,7496122,7500958,7494578,7488865,7491609
88,India,Asia,2973190,2.0,28.0,1428627663,0.81,11454490,481,-486136,...,1307246509,1322866505,1338636340,1354195680,1369003306,1383112050,1396387127,1407563842,1417173173,1428627663
89,Indonesia,Asia,1811570,2.1,30.0,277534122,0.74,2032783,153,-49997,...,256229761,259091970,261850182,264498852,267066843,269582878,271857970,273753191,275501339,277534122
90,Iran,Asia,1628550,1.7,33.0,89172767,0.70,622197,55,-39998,...,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570,89172767
91,Iraq,Asia,434320,3.4,20.0,45504560,2.27,1008438,105,-6000,...,36746488,37757813,38697943,39621162,40590700,41563520,42556984,43533592,44496122,45504560
94,Israel,Asia,21640,2.9,29.0,9174520,1.51,136211,424,9999,...,7863846,8007778,8159009,8309257,8456483,8607919,8757489,8900059,9038309,9174520
97,Japan,Asia,364555,1.3,49.0,123294513,-0.53,-657179,338,99994,...,127476735,127250933,126993857,126662472,126255866,125791677,125244761,124612530,123951692,123294513
98,Jordan,Asia,88780,2.7,24.0,11337052,0.45,51183,128,-157392,...,8658026,9494246,9964656,10215381,10459865,10698683,10928721,11148278,11285869,11337052
99,Kazakhstan,Asia,2699700,3.0,30.0,19606633,1.08,208635,7,0,...,17592298,17835909,18078553,18314814,18538099,18754258,18979243,19196465,19397998,19606633
102,Kuwait,Asia,17820,2.1,40.0,4310108,0.97,41235,242,11999,...,3761584,3908743,4048085,4124904,4317185,4441100,4360444,4250114,4268873,4310108
103,Kyrgyzstan,Asia,191800,2.9,24.0,6735347,1.58,104724,35,-9999,...,5814417,5914980,6018299,6121261,6223494,6323643,6424874,6527743,6630623,6735347
104,Laos,Asia,230800,2.4,24.0,7633779,1.39,104304,33,-9999,...,6691454,6787419,6891363,6997917,7105006,7212053,7319399,7425057,7529475,7633779
106,Lebanon,Asia,10230,2.1,29.0,5353930,-2.47,-135809,523,-177331,...,6274342,6398940,6258619,6109252,5950839,5781907,5662923,5592631,5489739,5353930
113,Macao,Asia,30,1.1,39.0,704149,1.29,8981,23472,5000,...,604167,615239,626688,638609,650991,663653,676283,686607,695168,704149
116,Malaysia,Asia,328550,1.8,31.0,34308525,1.09,370304,104,48997,...,30606459,31068833,31526418,31975806,32399271,32804020,33199993,33573874,33938221,34308525
117,Maldives,Asia,300,1.7,32.0,521021,-0.53,-2766,1737,-8652,...,416738,435582,454252,472442,489758,504508,514438,521457,523787,521021
129,Mongolia,Asia,1553560,2.7,27.0,3447157,1.44,48791,2,-850,...,2902823,2964749,3029555,3096030,3163991,3232430,3294335,3347782,3398366,3447157
134,Myanmar,Asia,653290,2.1,30.0,54577997,0.74,398691,84,-34998,...,51072436,51483949,51892349,52288341,52666014,53040212,53423198,53798084,54179306,54577997
137,Nepal,Asia,143350,2.0,24.0,30896590,1.14,349010,216,-62012,...,27462106,27610325,27861186,28183426,28506712,28832496,29348627,30034989,30547580,30896590
145,North Korea,Asia,120410,1.8,36.0,26160821,0.35,91405,217,-2000,...,25126131,25258015,25389611,25516321,25638149,25755441,25867467,25971909,26069416,26160821
149,Oman,Asia,309500,2.5,29.0,4644384,1.49,68086,15,0,...,4009267,4191776,4398070,4541854,4601157,4602768,4543399,4520471,4576298,4644384
150,Pakistan,Asia,770880,3.3,21.0,240485658,1.98,4660796,312,-165988,...,208251628,210969298,213524840,216379655,219731479,223293280,227196741,231402117,235824862,240485658
156,Philippines,Asia,298170,2.7,25.0,117337368,1.54,1778359,394,-69996,...,101325201,103031365,104875266,106738501,108568836,110380804,112190977,113880328,115559009,117337368
160,Qatar,Asia,11610,1.8,34.0,2716391,0.79,21269,234,0,...,2214465,2414573,2595166,2711755,2766732,2807235,2760385,2688235,2695122,2716391
174,Saudi Arabia,Asia,2149690,2.4,31.0,36947025,1.48,538205,17,28998,...,32125564,32749848,33416270,34193122,35018133,35827362,35997107,35950396,36408820,36947025
179,Singapore,Asia,700,1.0,43.0,6014723,0.65,39034,8592,26998,...,5570502,5650018,5711933,5764487,5814537,5866405,5909869,5941060,5975689,6014723
186,South Korea,Asia,97230,0.9,44.0,51784059,-0.06,-31751,533,29998,...,50558043,50994401,51309984,51511639,51676900,51803829,51844690,51830139,51815810,51784059
189,Sri Lanka,Asia,62710,2.0,33.0,21893579,0.28,61436,349,-77495,...,21239457,21336697,21425494,21506813,21580710,21649664,21715079,21773441,21832143,21893579
191,State of Palestine,Asia,6020,3.4,20.0,5371230,2.31,121158,892,-5000,...,4380475,4484614,4593848,4700947,4805547,4909775,5019401,5133392,5250072,5371230
196,Syria,Asia,183630,2.7,22.0,23227014,4.98,1101765,126,757103,...,20072232,19205178,18964252,18983373,19333463,20098251,20772595,21324367,22125249,23227014
197,Taiwan,Asia,35410,1.2,42.0,23923276,0.13,29882,676,23999,...,23422513,23512136,23594471,23665024,23726185,23777737,23821464,23859912,23893394,23923276
198,Tajikistan,Asia,139960,3.1,22.0,10143543,1.92,190756,72,-19999,...,8326348,8524063,8725318,8925525,9128132,9337003,9543207,9750064,9952787,10143543
200,Thailand,Asia,510890,1.3,40.0,71801279,0.15,104249,141,18999,...,69960943,70294397,70607037,70898202,71127802,71307763,71475664,71601103,71697030,71801279
201,Timor-Leste,Asia,14870,3.0,21.0,1360596,1.44,19300,91,-5000,...,1184830,1205813,1224562,1243235,1261845,1280438,1299995,1320942,1341296,1360596
207,Turkey,Asia,769630,1.9,32.0,85816199,0.56,474958,112,-318067,...,78112073,79646178,81019394,82089826,82809304,83481684,84135428,84775404,85341241,85816199
208,Turkmenistan,Asia,469930,2.6,26.0,6516100,1.33,85330,14,-4000,...,5663152,5766431,5868561,5968383,6065066,6158420,6250438,6341855,6430770,6516100
214,United Arab Emirates,Asia,83600,1.4,34.0,9516871,0.80,75742,114,0,...,8835951,8916899,8994263,9068296,9140169,9211657,9287289,9365145,9441129,9516871
218,Uzbekistan,Asia,425400,2.8,27.0,35163944,1.55,536292,83,-19999,...,30446542,30949417,31453574,31945682,32449576,32976948,33526656,34081449,34627652,35163944
221,Vietnam,Asia,310070,1.9,33.0,98858950,0.68,672094,319,-82700,...,91235504,92191398,93126529,94033048,94914330,95776716,96648685,97468029,98186856,98858950
224,Yemen,Asia,527970,3.6,19.0,34449825,2.24,753211,65,-29914,...,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614,34449825

In [29]:
df[(df['region'] == 'Asia')]

,country,region,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,Asia,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
9,Armenia,Asia,28470,1.6,35.0,2777970,-0.09,-2499,98,-5000,...,2889930,2878595,2865835,2851923,2836557,2820602,2805608,2790974,2780469,2777970
13,Azerbaijan,Asia,82658,1.7,32.0,10412651,0.53,54577,126,0,...,9741880,9863480,9976248,10071567,10152522,10232753,10284951,10312992,10358074,10412651
15,Bahrain,Asia,760,1.8,34.0,1485509,0.90,13276,1955,0,...,1311134,1362142,1409661,1456834,1487340,1494188,1477469,1463265,1472233,1485509
16,Bangladesh,Asia,130170,1.9,27.0,172954319,1.03,1767947,1329,-309977,...,155961299,157830000,159784568,161793964,163683958,165516222,167420951,169356251,171186372,172954319
23,Bhutan,Asia,38117,1.4,29.0,787424,0.64,4969,21,300,...,736357,743274,749761,756121,762096,767459,772506,777486,782455,787424
29,Brunei,Asia,5270,1.7,33.0,452524,0.78,3522,86,0,...,416656,421437,425994,430276,434274,438048,441725,445373,449002,452524
33,Cambodia,Asia,176520,2.3,27.0,16944826,1.06,176984,96,-29998,...,15210817,15417523,15624584,15830689,16025238,16207746,16396860,16589023,16767842,16944826
42,China,Asia,9388211,1.2,39.0,1425671352,-0.02,-215985,152,-310220,...,1385189668,1393715448,1401889681,1410275957,1417069468,1421864031,1424929781,1425893465,1425887337,1425671352
52,Cyprus,Asia,9240,1.3,39.0,1260138,0.69,8650,136,5000,...,1176995,1187280,1197881,1208523,1218831,1228836,1237537,1244188,1251488,1260138
69,Georgia,Asia,69490,2.1,37.0,3728282,-0.43,-16103,54,-9999,...,3774235,3771132,3771110,3771900,3772325,3770811,3765912,3757980,3744385,3728282
85,Hong Kong,Asia,1050,0.8,46.0,7491609,0.04,2744,7135,19999,...,7352183,7399838,7435927,7461519,7481555,7496122,7500958,7494578,7488865,7491609
88,India,Asia,2973190,2.0,28.0,1428627663,0.81,11454490,481,-486136,...,1307246509,1322866505,1338636340,1354195680,1369003306,1383112050,1396387127,1407563842,1417173173,1428627663
89,Indonesia,Asia,1811570,2.1,30.0,277534122,0.74,2032783,153,-49997,...,256229761,259091970,261850182,264498852,267066843,269582878,271857970,273753191,275501339,277534122
90,Iran,Asia,1628550,1.7,33.0,89172767,0.70,622197,55,-39998,...,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570,89172767
91,Iraq,Asia,434320,3.4,20.0,45504560,2.27,1008438,105,-6000,...,36746488,37757813,38697943,39621162,40590700,41563520,42556984,43533592,44496122,45504560
94,Israel,Asia,21640,2.9,29.0,9174520,1.51,136211,424,9999,...,7863846,8007778,8159009,8309257,8456483,8607919,8757489,8900059,9038309,9174520
97,Japan,Asia,364555,1.3,49.0,123294513,-0.53,-657179,338,99994,...,127476735,127250933,126993857,126662472,126255866,125791677,125244761,124612530,123951692,123294513
98,Jordan,Asia,88780,2.7,24.0,11337052,0.45,51183,128,-157392,...,8658026,9494246,9964656,10215381,10459865,10698683,10928721,11148278,11285869,11337052
99,Kazakhstan,Asia,2699700,3.0,30.0,19606633,1.08,208635,7,0,...,17592298,17835909,18078553,18314814,18538099,18754258,18979243,19196465,19397998,19606633
102,Kuwait,Asia,17820,2.1,40.0,4310108,0.97,41235,242,11999,...,3761584,3908743,4048085,4124904,4317185,4441100,4360444,4250114,4268873,4310108
103,Kyrgyzstan,Asia,191800,2.9,24.0,6735347,1.58,104724,35,-9999,...,5814417,5914980,6018299,6121261,6223494,6323643,6424874,6527743,6630623,6735347
104,Laos,Asia,230800,2.4,24.0,7633779,1.39,104304,33,-9999,...,6691454,6787419,6891363,6997917,7105006,7212053,7319399,7425057,7529475,7633779
106,Lebanon,Asia,10230,2.1,29.0,5353930,-2.47,-135809,523,-177331,...,6274342,6398940,6258619,6109252,5950839,5781907,5662923,5592631,5489739,5353930
113,Macao,Asia,30,1.1,39.0,704149,1.29,8981,23472,5000,...,604167,615239,626688,638609,650991,663653,676283,686607,695168,704149
116,Malaysia,Asia,328550,1.8,31.0,34308525,1.09,370304,104,48997,...,30606459,31068833,31526418,31975806,32399271,32804020,33199993,33573874,33938221,34308525
117,Maldives,Asia,300,1.7,32.0,521021,-0.53,-2766,1737,-8652,...,416738,435582,454252,472442,489758,504508,514438,521457,523787,521021
129,Mongolia,Asia,1553560,2.7,27.0,3447157,1.44,48791,2,-850,...,2902823,2964749,3029555,3096030,3163991,3232430,3294335,3347782,3398366,3447157
134,Myanmar,Asia,653290,2.1,30.0,54577997,0.74,398691,84,-34998,...,51072436,51483949,51892349,52288341,52666014,53040212,53423198,53798084,54179306,54577997
137,Nepal,Asia,143350,2.0,24.0,30896590,1.14,349010,216,-62012,...,27462106,27610325,27861186,28183426,28506712,28832496,29348627,30034989,30547580,30896590
145,North Korea,Asia,120410,1.8,36.0,26160821,0.35,91405,217,-2000,...,25126131,25258015,25389611,25516321,25638149,25755441,25867467,25971909,26069416,26160821
149,Oman,Asia,309500,2.5,29.0,4644384,1.49,68086,15,0,...,4009267,4191776,4398070,4541854,4601157,4602768,4543399,4520471,4576298,4644384
150,Pakistan,Asia,770880,3.3,21.0,240485658,1.98,4660796,312,-165988,...,208251628,210969298,213524840,216379655,219731479,223293280,227196741,231402117,235824862,240485658
156,Philippines,Asia,298170,2.7,25.0,117337368,1.54,1778359,394,-69996,...,101325201,103031365,104875266,106738501,108568836,110380804,112190977,113880328,115559009,117337368
160,Qatar,Asia,11610,1.8,34.0,2716391,0.79,21269,234,0,...,2214465,2414573,2595166,2711755,2766732,2807235,2760385,2688235,2695122,2716391
174,Saudi Arabia,Asia,2149690,2.4,31.0,36947025,1.48,538205,17,28998,...,32125564,32749848,33416270,34193122,35018133,35827362,35997107,35950396,36408820,36947025
179,Singapore,Asia,700,1.0,43.0,6014723,0.65,39034,8592,26998,...,5570502,5650018,5711933,5764487,5814537,5866405,5909869,5941060,5975689,6014723
186,South Korea,Asia,97230,0.9,44.0,51784059,-0.06,-31751,533,29998,...,50558043,50994401,51309984,51511639,51676900,51803829,51844690,51830139,51815810,51784059
189,Sri Lanka,Asia,62710,2.0,33.0,21893579,0.28,61436,349,-77495,...,21239457,21336697,21425494,21506813,21580710,21649664,21715079,21773441,21832143,21893579
191,State of Palestine,Asia,6020,3.4,20.0,5371230,2.31,121158,892,-5000,...,4380475,4484614,4593848,4700947,4805547,4909775,5019401,5133392,5250072,5371230
196,Syria,Asia,183630,2.7,22.0,23227014,4.98,1101765,126,757103,...,20072232,19205178,18964252,18983373,19333463,20098251,20772595,21324367,22125249,23227014
197,Taiwan,Asia,35410,1.2,42.0,23923276,0.13,29882,676,23999,...,23422513,23512136,23594471,23665024,23726185,23777737,23821464,23859912,23893394,23923276
198,Tajikistan,Asia,139960,3.1,22.0,10143543,1.92,190756,72,-19999,...,8326348,8524063,8725318,8925525,9128132,9337003,9543207,9750064,9952787,10143543
200,Thailand,Asia,510890,1.3,40.0,71801279,0.15,104249,141,18999,...,69960943,70294397,70607037,70898202,71127802,71307763,71475664,71601103,71697030,71801279
201,Timor-Leste,Asia,14870,3.0,21.0,1360596,1.44,19300,91,-5000,...,1184830,1205813,1224562,1243235,1261845,1280438,1299995,1320942,1341296,1360596
207,Turkey,Asia,769630,1.9,32.0,85816199,0.56,474958,112,-318067,...,78112073,79646178,81019394,82089826,82809304,83481684,84135428,84775404,85341241,85816199
208,Turkmenistan,Asia,469930,2.6,26.0,6516100,1.33,85330,14,-4000,...,5663152,5766431,5868561,5968383,6065066,6158420,6250438,6341855,6430770,6516100
214,United Arab Emirates,Asia,83600,1.4,34.0,9516871,0.80,75742,114,0,...,8835951,8916899,8994263,9068296,9140169,9211657,9287289,9365145,9441129,9516871
218,Uzbekistan,Asia,425400,2.8,27.0,35163944,1.55,536292,83,-19999,...,30446542,30949417,31453574,31945682,32449576,32976948,33526656,34081449,34627652,35163944
221,Vietnam,Asia,310070,1.9,33.0,98858950,0.68,672094,319,-82700,...,91235504,92191398,93126529,94033048,94914330,95776716,96648685,97468029,98186856,98858950
224,Yemen,Asia,527970,3.6,19.0,34449825,2.24,753211,65,-29914,...,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614,34449825